.custom-container {
    width: 900px;
    height: calc(100vh - 90px);
    margin: 30px auto 0;
    background-color: #f0f0f0;
    padding: 10px;
}

.news-section .card {
    height: 100%;
}

.quotes-section {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

.quotes-section .row {
    justify-content: center;
    vertical-align: bottom !important;
}